<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test --- Thymeleaf</title>
</head>
<body>
    <h1>Thymeleaf...</h1>
    <!-- 获取后台的数据 -->
    <div th:text = "'拼接' + ${msg}" th:value = "${msg}"></div>
    <!-- th: text 表示渲染文本 ${}表示获取这个key所对应的数据 -->
    <!-- th: value 表示给标签进行赋值 -->

    <!-- 开启热部署 只修改前端的页面 不需要重新启动服务器 -->
    <!-- spring.thymeleaf.cache=false -->
    <h1>开启热部署</h1>
    <div th:text = "'拼接 ->  ' + ${msg}" th:value = "${msg}"></div>

    <h2>循环遍历</h2>
    <table>
        <tr th:each="name, stat: ${slist}">
            <!-- td 是列 -->
            <td th:text="${name}"></td>
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${stat.size}"></td>
            <td th:text="${stat.odd}"></td>
            <td th:text="${stat.even}"></td>
            <td th:text="${stat.first}"></td>
            <td th:text="${stat.last}"></td>
        </tr>
    </table>

    <h2>session 取值 - 案例1</h2>
    <div th:text="${sname}"></div>

    <h2>session 取值 - 案例2</h2>
    <!-- 必须在前面加上session. -->
    <div th:text="${session.sname}"></div>

    <h2>内嵌页</h2>
    <div th:include="inner"></div>

    <!-- utext 能够解析文本 用于高亮显示文本的场景  -->


</body>
</html>